.project-container {
  padding: 10px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1200px; /* Limit the width for larger screens */
}

.project-page {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  color: #2C3E50;
  padding-top: 10px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.project-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
  padding-bottom: 10px;
}

.project-img {
  display: inline-block;
  flex-shrink: 0;
  width: 360px; /* Keep image width consistent */
  height: auto;
  margin-bottom: 2rem;
}

.project-img p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.project-img a {
  text-decoration: none;
  color: #2C3E50;
}

.project-img a:hover {
  color: rgb(172, 0, 172);
  text-decoration: underline;
}

.project-img img {
  width: 100%; /* Ensure images scale with the container */
  height: auto; /* Keep aspect ratio intact */
  object-fit: cover; /* Maintain image aspect ratio without stretching */
}

.project-img:hover {
  box-shadow: 4px 4px 20px 2px gray;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .project-box {
    flex-direction: column; /* Stack images vertically on mobile */
    align-items: center; /* Center images */
    gap: 10px; /* Reduce gap between images */
    padding: 0 5px; /* Add padding to prevent images from touching the screen edges */
  }

  .project-img {
    width: 90%; /* Ensure images take up 90% of container width */
    max-width: 280px; /* Cap the width of the images */
    margin: 10px auto; /* Center images horizontally */
  }

  .project-page {
    padding: 20px;
  }

  .project-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media(max-width:650px){
  .project-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


