*{
  margin: 0;
  padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color:#F8F9FA;
    color: hsl(210, 29%, 24%);
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    
  }
  
  .navbar h1 {
    font-size: 24px;
  }
  
  .list {
    list-style: none;
    display: flex;
  }
  
  .list li {
    margin: 0 20px;
  }
  
  .list li a {
    text-decoration: none;
    color:#2C3E50;
    font-size: 18px;
  }
  .list li a:hover{
    color: rgb(172, 0, 172) ;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #2C3E50;
    margin: 4px;
    transition: 0.3s;
    margin-right: 30px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .list {
      position: absolute;
      top: 60px;
      left: -120%;
      flex-direction: column;
      width: 100%;
      background-color: #F8F9FA;
      text-align: center;
      transition: 0.3s;
    }
    .navbar{
      background-color:  #F8F9FA;
    }
  
    .list.active {
      left: 0;
    }
  
    .list li {
      margin: 15px 0;
    }
  
    .hamburger {
      display: flex;
    }
  }
  